.DS_Store
*.mrpack
*.zip
build
instance
node_modules


/config/balm-common.toml
/config/c2me.toml
/config/chunky/tasks
/config/client.toml
/config/coords-hud
/config/debugify-descriptions.json
/config/debugify.json
/config/e4mc
/config/fabric
/config/ferritecore.mixin.properties
/config/forgeconfigapiport.toml
/config/iris-excluded.json
/config/iris.properties
/config/lithium.properties
/config/modernfix-mixins.properties
/config/resourceful-config-web.json
/config/roughlyenoughitems
/config/servercore/config.yml
/config/sodium-extra.properties
/config/sodium-fingerprint.json
/config/sodium-mixins.properties
/config/status-effect-bars.json
/config/voicechat/translations.properties
/config/voicechat/username-cache.json
/config/voicechat/voicechat-server.properties
/config/voicechat/voicechat-volumes.properties
/config/yacl.json5
/config/yet-another-minecraft-bingo/bingo.db
/config/yet-another-minecraft-bingo/commands
/config/yet-another-minecraft-bingo/files.json
/config/yet-another-minecraft-bingo/game-options.json
/config/yet-another-minecraft-bingo/stats.db
/config/yet-another-minecraft-bingo/tags
/config/yet-another-minecraft-bingo/tierlists
/config/heywiki.json
/config/horseexpert-client.toml
/config/simpleupdatechecker_user.json
