# Exclude exported CurseForge zip files
*.zip

# Exclude exported Modrinth modpacks
*.mrpack

.DS_Store


/config/fabric
/config/yet-another-minecraft-bingo/stats.db
/config/iris.properties
/config/lithium.properties
/config/sodium-extra.properties
/config/sodium-fingerprint.json
/config/sodium-mixins.properties
/config/yacl.json5
/config/iris-excluded.json
/config/forgeconfigapiport.toml
/config/cardinal-components-api.properties
/config/resourceful-config-web.json
/config/debugify-descriptions.json
