_specver: 2
modpack:
  name: uBingo
  description: A Bingo Modpack based on the Bongo mod with much features.
install:
  mcVersion: 1.18.2
  loaderVersion: null
  installerUrl: https://files.minecraftforge.net/maven/net/minecraftforge/forge/{{@mcversion@}}-{{@loaderversion@}}/forge-{{@mcversion@}}-{{@loaderversion@}}-installer.jar
  installerArguments:
    - '--installServer'
  modpackUrl: https://github.com/Unately/uBingo/releases/download/v1.5.2/uBingo-v1.5.2.zip
  modpackFormat: curse
  formatSpecific:
    ignoreProject:
      - 242995
      - 521480
      - 435044
      - 272515
      - 378979
      - 459701
      - 556824
      - 457570
      - 463155
      - 495693
      - 280294
      - 561885
      - 294574
      - 358191
      - 407174
      - 271740
      - 526854
      - 297038
      - 357540
      - 537533
  baseInstallPath: null
  ignoreFiles:
    - resources/**
    - packmenu/**
    - crosshair_config.ccmcfg
    - crash-reports/**
    - config/fpsreducer/**
    - config/justzoom/**
    - config/betterthirdperson-common.toml
    - config/betteradvancements-client.toml
    - config/bongo-client.toml
    - config/borderlesswindow-client.toml
    - config/chromatocreeper-client.toml
    - config/craftpresence.properties
    - config/fallingleaves-client.toml
    - config/farsight-common.toml
    - config/inventoryhud-client.toml
    - config/musicplayer-client.toml
    - config/toastcontrol-common.toml
    - config/skinlayers.json
    - config/packmenu.cfg
  additionalFiles: null
  localFiles:
    - from: ./modpack-download.zip
      to: .installer/modpack-download-copied.zip
  checkFolder: true
  installLoader: true
  spongeBootstrapper: https://github.com/simon816/SpongeBootstrap/releases/download/v0.7.1/SpongeBootstrap-0.7.1.jar
  connectTimeout: 30
  readTimeout: 30
launch:
  spongefix: false
  ramDisk: false
  checkOffline: true
  maxRam: 5G
  minRam: 2G
  autoRestart: true
  crashLimit: 10
  crashTimer: 60min
  preJavaArgs: null
  startFile: forge-{{@mcversion@}}-{{@loaderversion@}}.jar
  startCommand:
    - '@libraries/net/minecraftforge/forge/{{@mcversion@}}-{{@loaderversion@}}/{{@os@}}_args.txt'
    - nogui
  forcedJavaPath: null
  javaArgs:
    - '-XX:+UseG1GC'
    - '-XX:+ParallelRefProcEnabled'
    - '-XX:MaxGCPauseMillis=200'
    - '-XX:+UnlockExperimentalVMOptions'
    - '-XX:+DisableExplicitGC'
    - '-XX:+AlwaysPreTouch'
    - '-XX:G1NewSizePercent=30'
    - '-XX:G1MaxNewSizePercent=40'
    - '-XX:G1HeapRegionSize=8M'
    - '-XX:G1ReservePercent=20'
    - '-XX:G1HeapWastePercent=5'
    - '-XX:G1MixedGCCountTarget=4'
    - '-XX:InitiatingHeapOccupancyPercent=15'
    - '-XX:G1MixedGCLiveThresholdPercent=90'
    - '-XX:G1RSetUpdatingPauseTimePercent=5'
    - '-XX:SurvivorRatio=32'
    - '-XX:+PerfDisableSharedMem'
    - '-XX:MaxTenuringThreshold=1'
    - '-Dfml.readTimeout=90'
    - '-Dfml.queryResult=confirm'
